
#size{
    width: 450px;
}

.text-center{
    text-align: center;
}

.ui.fluid.button.box-blue{
    background-color: #4730db;
    color: #ffffffff;
}
#message{
    width: 450px;
}
.back{
    background-color: #f3f4f6;
    margin-top: 40px;
    padding-bottom: 70px;
}
